.idea
irods-jargon-test/target/
irods-jargon-test/.classpath/
irods-jargon-test/.project/
irods-jargon-test/.classpath/.settings/
mlx-connection-test.iml
irods-jargon-test/output_*

metalnx-web/target/
metalnx-web/.settings/
metalnx-web/.project/
metalnx-web/.classpath/
metalnx-web/*.class
metalnx-web/*.log
metalnx-web/.project
metalnx-web/.classpath
metalnx-web/.cproject
metalnx-web/*.iml
metalnx-web/.idea
metalnx-web/bin/
